{% extends "base.html.twig" %}

{% block title %}AppBundle:Example:hello{% endblock %}

{% block main %}
    <h1>Hello {{ name }}</h1>
    <ul>
        <li><a href="{{ path('routing_hello', {name: 'Martin'}) }}">Hello Martin</a></li>
        <li><a href="{{ path('routing_hello', {name: 'Petr'}) }}">Hello Petr</a></li>
        <li><a href="{{ path('routing_hello', {name: 'Seznam'}) }}">Hello Seznam</a></li>
        <li><a href="{{ path('routing_hello', {name: 'Home'}) }}">Hello Home</a></li>
        <li><a href="{{ path('routing_hello', {name: 'Homepage'}) }}">Hello Homepage</a></li>

        <li><a href="{{ url('homepage') }}">Homepage URL</a></li>
        <li><a href="{{ absolute_url('/homepage') }}">Homepage absolute URL</a></li>
        <li><a href="{{ path('homepage') }}">Homepage</a></li>
        <li><a href="{{ relative_path('/homepage') }}">Homepage</a></li>
    </ul>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
