{% extends "base.html.twig" %}

{% block title %}AppBundle:Example:Translation:index{% endblock %}

{% block main %}
    <h1>Kontroler</h1>
    <p>Text: {{ text }}</p>
    <p>Placeholder: {{ placeholder }}</p>
    <p>Plural implicit: {{ plural_implicit  }}</p>
    <p>Plural explicit: {{ plural_explicit }}</p>

    <h2>Šablona</h2>
    <p>Text: {{ 'example.text'|trans }}</p>
    <p>Placeholder: {{ 'example.placeholder'|trans({"%name%": name}, 'messages', 'cs') }}</p>
    <p>Plural implicit: {{ 'example.plural_implicit'|transchoice(count, {"%count%": count}) }}</p>
    <p>Plural explicit: {{ 'example.plural_explicit'|transchoice(count, {"%count%": count}) }}</p>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
