{#
   Základní šablona, ze které dědí většina ostatních šablon v tomto projektu
   Viz http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                <header>
                    <div class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    Symfony Demo Application
                                </a>
                                <button type="button" class="navbar-toggle"
                                        data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">

                                {# allow_safe_labels je dulezite pokud chceme vykreslit html #}
                                {{ knp_menu_render('main', {'allow_safe_labels': true}) }}

                                <ul class="nav navbar-nav navbar-right">
                                    {% block header_navigation_links %}
                                        <li>
                                            <a href="{{ path('blog_index') }}">
                                                <i class="fa fa-home"></i> Homepage
                                            </a>
                                        </li>
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock header %}

            {% block content %}
                <div class="container body-container">
                    <div class="row">
                        <div class="col-md-9">
                            {% block main %}{% endblock %}
                        </div>
                        <div class="col-md-3">
                            {% block sidebar %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block footer %}
                <footer>
                    <div class="container">
                        <div class="row">
                            <div id="footer-copyright" class="col-md-6">
                                <p>&copy; {{ 'now'|date('Y') }} - Webuni.cz (based on Symfony demo application)</p>
                                <p>MIT License</p>
                            </div>
                            <div id="footer-resources" class="col-md-6">
                                <p>
                                    <a href="https://twitter.com/webuni"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/webunicz"><i class="fa fa-facebook"></i></a>
                                    <a href="http://webuni.cz"><i class="fa fa-rss"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
            {% endblock footer %}

            {% block javascripts %}
                <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
