{% extends 'base.html.twig' %}

{% block main %}

    {% for type, msgs in app.session.flashBag.all() %}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for msg in msgs %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endfor %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">login</button>
    </form>

    <p>
        <a href="{{ path('app_user_registration') }}">Registrovat nového uživatele</a>
    </p>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}