{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ article.title }}</h1>

    {{ article.content }}

    <h3>{{ article.comments|length }} comments</h3>

    {% for comment in article.comments %}
        <div class="row post-comment">
            <h4 class="col-sm-3">
                <strong>{{ comment.publishedAt|date('M jS \\a\\t g:i a') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>Be the first to comment on this article.</p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
