{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for article in articles %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_article', { slug: article.slug }) }}">
                    {{ article.title }}
                </a>
            </h2>

            {{ article.summary }}
        </article>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
