{% extends 'base.html.twig' %}

{#{% form_theme form 'TbsMainBundle:Form:fields.html.twig' %}#}

{% block main %}

    {{ form(form, {'attr' : {novalidate: 'novalidate'}}) }}

{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
