{% extends 'base.html.twig' %}

{#{% form_theme form 'TbsMainBundle:Form:fields.html.twig' %}#}

{% block main %}

    {% for msg in app.session.flashBag.get("success") %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> {{ msg }}
        </div>
    {% endfor %}

    <p>
        <a href="{{ path('app_user_registration') }}">Registrovat nového uživatele</a>
    </p>

    <p>
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <a href="{{ path('app_login_logout') }}">Odhlásit se</a>
        {% else %}
            <a href="{{ path('app_login_login') }}">Přihlásit se</a>
        {% endif %}
    </p>

{% endblock %}
