{% extends "base.html.twig" %}

{% block title %}AppBundle:Example:Translation:index{% endblock %}

{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{#{% form_theme form 'form_fields.html.twig' %}#}

{% block main %}
    {#{{ form(form) }}#}

    {{ form(form, {'attr' : {novalidate: 'novalidate', class: 'my-custom-class'}}) }}

    {#{{ form_start(form, {'attr' : {novalidate: 'novalidate'}}) }}#}
    {#{{ form_errors(form) }}#}
    {#{{ form_row(form.title) }}#}
    {#{{ form_row(form.publishAt) }}#}
    {#{{ form_end(form, {render_rest: false}) }}#}

    {#{% dump %}#}

    {#{{ form.title.vars.value }}#}

    {#{{ form_start(form, {'attr' : {novalidate: 'novalidate'}}) }}#}
    {#{{ form_errors(form) }}#}
    {#<div>#}
    {#{{ form_label(form.title, 'My custom title') }}#}
    {#{{ form_errors(form.title) }}#}
    {#{{ form_widget(form.title, {'attr': {'class': 'webuni-article-title'}}) }}#}
    {#</div>#}
    {#<div>#}
    {#{{ form_label(form.publishAt) }}#}
    {#{{ form_errors(form.publishAt) }}#}
    {#{{ form_widget(form.publishAt) }}#}
    {#</div>#}
    {#{{ form_row(form.content) }}#}
    {#<div>#}
    {#{{ form_widget(form.save) }}#}
    {#</div>#}
    {#{{ form_end(form) }}#}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
