{% extends 'exception/base.html.twig' %}

{% block error_head %}
    Stránka neexistuje!
{% endblock %}

{% block error_text %}
    Omlouváme se, ale neznáme odpověď na váš dotaz. Požadovaná stránka u nás neexistuje.
{% endblock %}
