{% extends "base.html.twig" %}

{% block title %}AppBundle:Controller:index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/hinclude.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>{{ date|date('H:i:s') }}</h1>

    {#<esi:include src="http://..." />#}
    <h1>{{ render_esi(controller('AppBundle:Controller:esi')) }}</h1>

    {{ dump(app.request) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}

    <div>
        {{ render_hinclude(controller('AppBundle:Controller:hinclude'), {
            default: "controller/hinclude-default.html.twig"
        }) }}
    </div>
{% endblock %}
