{% macro text() %}
    <p>Toto je text z šablony "macro.html.twig".</p>
{% endmacro %}

{% macro input(name, value, type, size) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}